@import "tailwindcss";

.momo {
    font-family: "Momo Signature", cursive;
}

:root {
    font-family: "Karla", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color-scheme: light;
}

html, body {
    background: #ffffff;
    color: #111827;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    min-width: 320px;
    min-height: 100vh;
}